{
  "semi": false,
  "trailingComma": "es5",
  "printWidth": 90,
  "singleQuote": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [".prettierrc", ".huskyrc", ".babelrc"],
      "options": { "parser": "json" }
    },
    {
      "files": "**/*.css.module",
      "options": { "parser": "css" }
    }
  ]
}
