.bar {
  margin: 16px auto;
  height: 5px;
  width: 420px;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.progress {
  height: 100%;
  width: 0;
  border-radius: 25px;
  background-color: white;
  transition: width 0.3s linear;
}
