.animated--pulse {
  animation-name: pulse;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.animated--spin {
  animation-name: spin;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
  }

  50% {
    -webkit-transform: scale(1.2, 1.2);
  }

  75% {
    -webkit-transform: scale(0.8, 0.8);
  }

  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.2;
  }

  45% {
    -webkit-transform: scale(1.2, 1.2);
  }

  64% {
    -webkit-transform: scale(0.8, 0.8);
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0.4;
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1.6, 1.6);
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
