@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
  }

  50% {
    -webkit-transform: scale(1.2, 1.2);
  }

  75% {
    -webkit-transform: scale(0.8, 0.8);
  }

  100% {
    -webkit-transform: scale(1, 1);
  }
}
