/* FIX THIS */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

@import url('./vars.css');
@import url('./animations.css');
@import url('./scrollbar.css');
@import url('./component/status.css');
@import url('./component/loader.css');
@import url('./component/header.css');
@import url('./component/button.css');
@import url('./component/sidebar.css');
@import url('./component/track-list.css');
@import url('./component/empty-state.css');
@import url('./component/tooltip.css');
@import url('./component/profile.css');
@import url('./component/time-line.css');
@import url('./component/dropdown.css');

html {
  background: black;
}
body {
  margin: 0;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

a,
button {
  cursor: pointer;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
  color: skyblue;
  padding: 4px;
}

.icon {
  width: 1em;
}

.icon--small-x {
  width: 1em;
}

.icon--small {
  width: 1em;
}

.icon--large {
  width: 1.4em;
}

.icon--large-x {
  width: 1.8em;
}

.icon path {
  fill: var(--text-color);
}

#window {
  margin: auto;
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  transition: bottom 300ms ease;
}

#window.short {
  bottom: var(--player-height);
}

.view {
  height: 100%;
  overflow: auto;
  flex-grow: 1;
  position: relative;
}

.page {
  margin: 0 32px;
  position: relative;
  text-align: center;
  height: 100%;
}

.page section {
  text-align: left;
  margin: 16px 0;
}

.label {
  border: 2px solid #aaa;
  color: #aaa;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  margin: 8px;
  display: inline-block;
}

.grid {
  display: block;
  margin: auto;
  width: 100%;
  /* white-space: nowrap; */
  overflow: auto;
  position: relative;
  padding: 16px 0;
  /*
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  */
}

.grid::-webkit-scrollbar {
  display: none;
}
