:root {
  --color-red: #fc5c65;
  --color-primary: #54a0ff;
  --main-color: #54a0ff;
  --bg-color: #050506;
  --text-color: #fff;
  --subtext-color: #bcbcbc;
  --button-bg-color: #3f3f43;
  --card-bg-color: #212125;
  --card-dark-bg-color: #151518;
  --card-alt-bg-color: #2a2a2f;

  --scrollbar-thumb-bg: #2a2a2f;
  --scrollbar-track-bg: rgba(23, 25, 31, 0.99);

  --header-height: 48px;
  --player-height: 72px;

  --seekbar-height: 4px;

  --sidebar-bg-color: #0e0e11;
  --sidebar-width: 240px;
}
