:root {
  --color-red: #fc5c65;
  --main-color: #778beb;
  --bg-color: rgba(18, 18, 20, 0.99);
  --text-color: #fff;
  --button-bg-color: #3f3f43;
  --card-bg-color: #212125;
  --card-alt-bg-color: #2a2a2f /* #2a2a2f */;

  --scrollbar-thumb-bg: #2a2a2f;
  --scrollbar-track-bg: rgba(23, 25, 31, 0.99);

  --header-height: 48px;
  --player-height: 72px;
  --sidebar-width: 220px;
}
