:root {
  --color-main: #3498db;
  --bg-color: rgba(18, 18, 20, 0.99);
  --button-bg-color: #3f3f43;
  --card-bg-color: #2a2a2f;

  --scrollbar-thumb-bg: #2a2a2f;
  --scrollbar-track-bg: rgba(23, 25, 31, 0.99);

  --header-height: 48px;
}
