.button {
  background-color: var(--button-bg-color);
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  font-weight: 700;
  word-spacing: 4px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  color: inherit;
  font-family: inherit;
}

.button:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

/* Default button */

.button--normal {
  background-color: #3498db;
  border-radius: 24px;
  color: #fff;
  margin: 16px 0;
  padding: 8px 16px;
}

.button--empty-state {
  margin: 32px;
  padding: 8px 18px;
  border-radius: 32px;
  border: 2px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
}

.button--empty-state:hover {
  color: inherit;
  background-color: var(--main-color);
}

/* Card action button */

.button--card-action {
  margin-right: 8px;
  opacity: 0.64;
  border-radius: 50px;
  background: transparent;
  transition: all 0.4s ease;
}
.button--active,
.button--card-action:hover {
  opacity: 1;
}

.button--toggle {
  opacity: 1;
  animation-name: pulsate;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.button--header-nav {
  padding: 2px;
  margin: 0 4px;
  opacity: 0.75;
  border-radius: 50px;
  background: transparent;
}

.button--header-nav:hover {
  opacity: 1;
  background: var(--button-bg-color);
}

/* Card action button #525257 */

.button--table-action {
  padding: 4px;
  border-radius: 16px;
  background: transparent;
  opacity: 0.64;
}

.button--toggle.button--table-action {
  opacity: 1;
}

.button--table-action--overlay {
  text-align: center;
  position: absolute;
  padding: 4px;
  top: -25%;
  left: -8px;
  z-index: 1;
  border-radius: 32px;
  background-color: var(--button-bg);
  transition: none;
}

.button--toggle.button--table-action--overlay {
  opacity: 1;
  background: var(--color-primary);
  transition: none;
}

.button--table-action--overlay.button--toggle::before {
  border-radius: 50%;
  background: var(--color-primary);
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  /* wave animation */
  animation-name: wave;
  animation-duration: 0.6s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.button--card-action--overlay {
  padding: 0;
  border-radius: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 4em;
  height: 4em;
  background: rgba(0, 0, 0, 0.9);
  display: inline-block;
}

.button--card-action--overlay svg.icon {
  font-size: 1.4em;
}

.button--card-action--overlay.button--toggle {
  /* background: var(--color-primary); */
  background: var(--color-primary);
}
.button--card-action--overlay.button--toggle::before {
  border-radius: 50%;
  background: var(--color-primary);
  width: 4em;
  height: 4em;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0.4;
  /* wave animation */
  animation-name: wave;
  animation-duration: 0.6s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.button--drop {
  padding: 8px 16px;
  height: 100%;
  text-transform: none;
  margin: 0 8px;
  font-weight: normal;
  background-color: transparent;
  position: relative;
}
.button--drop:active,
.button--drop.button--active {
  background-color: var(--card-alt-bg-color);
}

.button--drop.button--active .drop-menu {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease;
}

/* Button elements */

.button_icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.button_icon + .button_label {
  margin: 0 8px;
}
