.cards-list {
  margin: 0 32px;
}

.card_label {
  margin: 0;
}

.card--thumbnail {
  padding-top: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  border-radius: 6px;
  transition: opacity 0.3s ease 0.3s;
}

.card--thumbnail .thumbnail--picture {
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card--overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 2;
  background: var(--card-overlay-bg-color);
  transition: opacity 0.3s ease 0.3s;
}

.card--overlay-show,
.card--overlay:hover {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

.tile-card {
  width: 420px;
  margin-top: 32px;
  margin-right: 32px;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  background: var(--sidebar-bg-color);
  font-size: 1.062em;
}

.tile-card--content {
  padding: 0 16px;
  text-align: left;
}

.tile-card--title {
  margin: 4px 0;
  font-weight: bold;
}
.tile-card--subtitle {
  color: var(--subtext-color);
  margin: 8px 0;
  font-size: 0.86em;
}
.tile-card--subtitle span {
  margin-right: 8px;
  display: inline-block;
}

.tile-card--thumbnail {
  width: 124px;
  height: 124px;
  flex-shrink: 0;
  border-radius: 8px 0 0 8px;
}
