.card {
  padding: 8px;
  margin: 16px 0;
  margin-right: 32px;
  display: inline-block;
  width: 184px;
  background-color: var(--card-bg-color);
  border-radius: 6px;
  text-align: center;
  border: 4px solid transparent;
}

.card_label {
  margin-top: 16px;
}

.card--active {
  border-color: var(--main-color);
}

.card--avatar {
  height: 124px;
  width: 124px;
  padding: 8px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 16px auto;
}

.card .button {
  margin: 16px auto;
}

.card--thumbnail {
  padding-top: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  border-radius: 6px;
  transition: opacity 0.3s ease 0.3s;
}

.card--thumbnail .thumbnail--picture {
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card--overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 2;
  background: var(--card-overlay-bg-color);
  transition: opacity 0.3s ease 0.3s;
}

.card--overlay-show,
.card--overlay:hover {
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

.tile-card {
  margin-top: 32px;
  margin-right: 32px;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  background: var(--sidebar-bg-color);
  width: 420px;
  font-size: 1.062em;
}

.tile-card--content {
  text-align: left;
  padding: 0 16px;
}

.tile-card--title {
  font-weight: bold;
  margin: 4px 0;
}
.tile-card--subtitle {
  color: var(--subtext-color);
  margin: 8px 0;
  font-size: 0.86em;
}
.tile-card--subtitle span {
  display: inline-block;
  margin-right: 8px;
}

.tile-card--thumbnail {
  height: 124px;
  width: 124px;
  border-radius: 8px 0 0 8px;
}
