.dropdown-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: 170px;
  background: var(--dropdown-bg-color);
}

.dropdown-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-title:hover {
  cursor: pointer;
}

.dropdown-title a:hover {
  opacity: 1;
}

.dropdown-line {
  display: inline-block;
  background: var(--dropdown-bg-color);
  width: 100%;
}

.dropdown-button {
  display: block;
  padding: 0 10px;
  color: var(--text-color);
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.64;
}

.dropdown-sublist {
  display: inherit;
  position: absolute;
  left: 170px;
  top: 0;
}

/* Fisrt Tier Dropdown */
.dropdown-sublist-line {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	*/
.dropdown-sub-line {
  position: relative;
}

.dropdown-icon {
  margin-right: 2%;
}
