.header {
  margin: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background: var(--card-bg-color);
  border-bottom: 1px solid var(--bg-color);
  height: var(--header-height);
  z-index: 1;
}
