.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--card-bg-color);
  height: var(--header-height);
  z-index: 2;
}
