.header {
  margin: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background: var(--card-bg-color);
  border-bottom: 1px solid var(--bg-color);
  height: var(--header-height);
  padding: 0 16px;
  z-index: 1;
}
.header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-thumbnail {
  border: 1px solid var(--button-bg-color);
  background-color: var(--bg-color);
  border-radius: 50%;
  padding: 4px;
  margin: 0;
}

.profile-label {
  margin: 0 32px 0px 8px;
}

.drop-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0;
  font-size: 0.9em;
  transform: translateY(-25%);
  opacity: 0;
  transition: all 0s ease;
}

.drop-item {
  padding: 6px 12px;
  border-bottom: 1px solid var(--bg-color);
  background: var(--card-alt-bg-color);
  color: var(--subtext-color);
  text-align: left;
}

.drop-item:hover {
  background: var(--button-bg-color);
  color: var(--text-color);
}

.drop-item:first-child {
  border-top: 1px solid var(--bg-color);
}

.drop-item:last-child {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.profile-box {
  text-align: center;
  position: relative;
  background: #050506;
  padding: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--card-bg-color);
}

.profile-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
}

.avatar {
  padding: 8px;
  border-radius: 50%;
  margin: 16px;

  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.25);

  height: 120px;
  width: 120px;

  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-data {
  margin: 16px;
  text-align: left;
  font-size: 1.24em;
}
.name {
  margin: 8px 0;
  font-weight: bold;
  font-size: 1.2em;
}

.nickname {
  font-size: 0.8em;
  opacity: 0.64;
}

.tags-container {
  margin: 32px 0;
}

.tag {
  background-color: var(--card-bg-color);
  padding: 2px 8px;
  border-radius: 4px;
  display: inline-block;
  margin: 16px 8px 0 0;
  text-transform: lowercase;
  font-size: 0.64em;
}

.tabs {
}

.tabs .tab {
  display: inline-block;
  margin-right: 16px;
  padding: 8px 0px;
  border-bottom: 2px solid transparent;
  opacity: 0.64;
  font-weight: bold;
}

.tabs .tab.active {
  opacity: 1;
  border-color: var(--text-color);
}

.time-line {
  padding: 16px;
}

.bullet {
  margin: 0 8px;
}

.time-line .event {
  border-radius: 4px;
  position: relative;
  margin: 16px 48px;
  color: var(--subtext-color);
}
.event--title {
  text-align: left;
}

.event--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin: 0;
  position: relative;
}

.event--author {
  color: var(--text-color);
  margin-right: 8px;
}

.event--date {
  opacity: 0.64;
}

.event--description {
  border-radius: 4px;
  padding: 16px;
  background-color: var(--card-dark-bg-color);
}

.event--point {
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  margin: auto 25px;
  background-color: red;
  background-color: var(--card-dark-bg-color);
}

.event:before {
  content: '';
  width: 4px;
  height: 100%;
  background-color: red;
  position: absolute;
  right: 100%;
  margin: auto 32px;
  top: 18px;
  padding-bottom: 16px;
  background-color: var(--card-dark-bg-color);
}

.event:last-of-type:before {
  top: 0px;
  height: 16px;
}

.event:only-of-type:before {
  background: transparent;
  height: 0;
}

.track-widget {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.track-widget--content {
  margin: 0 16px;
}

.track-widget--title {
  font-size: 1.12em;
  color: var(--text-color);
  font-weight: bold;
}

.track-widget--author {
  margin: 8px 0;
  opacity: 0.8;
}

.track-widget--thumbnail {
  height: 100px;
  width: 100px;
  background: var(--card-alt-bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
