.profile-thumbnail {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--bg-color);
  box-shadow: inset 0px 0px 0px 1px var(--bg-color);
  padding: 0;
  margin: 0;
  margin-right: 4px;
}

.profile-label {
  margin: 0 32px 0px 8px;
}

.profile-box {
  text-align: center;
  position: relative;
  padding: 16px 0;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 16px 0;
}
