.sidebar {
  height: 100%;
  margin: auto;
  width: var(--sidebar-width);

  background: var(--card-bg-color);
  flex-shrink: 0;
}

.nav__links {
  margin: 16px 0;
}

.nav__link {
  font-size: 0.9em;
  font-weight: 600;
  padding: 8px;
  margin: 6px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link:hover .link__body,
.nav__link--active .link__body {
  opacity: 1;
}

.nav__link--active {
  background: var(--button-bg-color);
}

.link__body {
  opacity: 0.64;
}

.link__icon {
  font-size: 1.2em;
}

.link__badge {
  line-height: 0.74em;
  font-size: 0.74em;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  border-radius: 16px;
  background-color: var(--color-red);
  min-width: 1em;
  padding: 4px 6px;
}

.link__icon,
.link__label {
  display: inline-block;
  vertical-align: middle;
}

.link__icon + .link__label {
  margin-left: 16px;
}
