.sidebar {
  height: 100%;
  margin: auto;
  width: var(--sidebar-width);
  background: var(--sidebar-bg-color);
  flex-shrink: 0;
}

.nav__links {
  margin: 32px 0;
}

.nav__link {
  font-size: 1em;
  font-weight: 600;
  padding: 8px 12px;
  margin: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link:hover .link__body,
.nav__link--active .link__body {
  opacity: 1;
}

.nav__link--active {
  background: var(--card-alt-bg-color);
}

.link__body {
  opacity: 0.54;
}

.link__icon {
  font-size: 1.2em;
}

.link__badge {
  line-height: 0.8em;
  font-size: 0.8em;
  display: block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  border-radius: 16px;
  background-color: var(--color-red);
  padding: 2px 4px;
  width: 1.2em;
  height: 1em;
}

.link__icon,
.link__label {
  display: inline-block;
  vertical-align: middle;
}

.link__icon + .link__label {
  margin-left: 16px;
}
