.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  bottom: 125%;
  left: 50%;

  margin-left: -60px;

  display: none;
}

.tooltip .tooltiptext--rigth {
  bottom: 0;
  left: 250%;
}

.tooltip .tooltiptext--left {
  bottom: 0;
  left: -150%;
}

.tooltip .tooltiptext--bottom {
  left: 50%;
}

.tooltip .tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip .tooltiptext:disabled {
  display: none;
}

.tooltip:hover .tooltiptext {
  display: block;
}
