.tooltip {
  position: absolute;
  margin: 0;
  background-color: #3f3f43;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  z-index: 1;
  padding: 4px 12px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: all 0.2s ease;
  transform: translate(0, 0);
  transition-property: opacity, transform;
}

.tooltip.show {
  opacity: 1;
}

.tooltip::after {
  content: '';
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.tooltip-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: #3f3f43 transparent transparent transparent;
}

.tooltip-left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent #3f3f43;
}

.tooltip-right::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent #3f3f43 transparent transparent;
}

.tooltip-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent #3f3f43 transparent;
}

.tooltip-top,
.tooltip-bottom {
  transform: translate(-50%, 0);
}
.tooltip-top.show {
  transform: translate(-50%, -150%);
}
.tooltip-bottom.show {
  transform: translate(-50%, 50%);
}

.tooltip-left,
.tooltip-right {
  transform: translate(0, -50%);
}

.tooltip-left {
  transform: translate(-125%, -50%);
}

.tooltip-right {
  transform: translate(25%, -50%);
}
