.track-list {
}

table {
  word-wrap: break-word;
  text-align: left;
  border-collapse: collapse;
  margin: 16px;
}

thead th {
  border-bottom: 1px solid var(--card-bg-color);
  font-size: 0.84em;
  text-transform: uppercase;
}

th,
td {
  position: relative;
  padding: 16px;
}

tr {
  border-bottom: 1px solid var(--card-bg-color);
}

.row_item {
  position: relative;
}

tr:hover .button--table-action--overlay {
  opacity: 1;
}

/*
tr:hover .button--table-action--overlay + .row_label  {
  opacity: 0;
}
*/

.row_label {
  opacity: 0.64;
}
