.track-list {
  width: calc(100% - 32px);
}

table {
  word-wrap: break-word;
  text-align: left;
  border-collapse: collapse;
  margin: 16px;
}

thead th {
  border-bottom: 1px solid var(--card-bg-color);
  font-size: 0.96em;
  text-transform: uppercase;
}

th,
td {
  position: relative;
  padding: 16px;
}

tr {
  border-bottom: 1px solid var(--card-bg-color);
  transition: background 0.2s ease;
}

tr:hover {
  background: #212125;
}

.row_item {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

tr:hover .button--table-action--overlay {
  opacity: 1;
  transition: none;
}

tr:hover .button--table-action--overlay + .row_label {
  opacity: 0;
}
tr:hover .row_label {
  opacity: 1;
}

.row_label {
  font-size: 0.96em;
  opacity: 0.64;
}
