.track-list {
  width: calc(100% - 16px);
}

table {
  word-wrap: break-word;
  text-align: left;
  border-collapse: collapse;
  margin: 16px auto;
}

thead th {
  border-bottom: 1px solid var(--card-bg-color);
  font-size: 0.96em;
  text-transform: uppercase;
}

th,
td {
  position: relative;
  padding: 16px 32px;
}

tbody tr {
  border-bottom: 1px solid var(--card-bg-color);
  transition: 0;
}

.row {
  border-radius: 4px;
}

.row--disabled {
  pointer-events: none;
  opacity: 0.4;
}

.row--active {
  background-color: var(--card-bg-color);
}

.row--active .row_label {
  opacity: 1;
}

.row_item {
  position: relative;
}

.row .button--table-action--overlay {
  opacity: 0;
}
.row:hover .button--table-action--overlay,
.row--active .button--table-action--overlay {
  opacity: 1;
  transition: none;
}

.row--busy .button--table-action--overlay {
  opacity: 1;
  background-color: var(--bg-color);
}

.row--active .button--table-action--overlay:not(.button--toggle) {
  background-color: #545454;
}

.row:hover .button--table-action--overlay + .row_label {
  opacity: 0;
}

.row:hover .row_label {
  opacity: 1;
}

.row_label {
  font-size: 0.96em;
  opacity: 0.64;
}
.row_label--link:hover {
  opacity: 1;
  cursor: pointer;
  text-decoration: underline;
}
